body {
    background-color: #5C87A3;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    background-color: #FFCD03;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
}

form input, form button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0; /* Removed 'auto' for alignment */
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* Added to prevent extending beyond container */
}

form button {
    cursor: pointer;
    background-color: #5C87A3;
    color: white;
}

form button:hover {
    background-color: #00334D;
}

#logo {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}
