<!DOCTYPE html>
<html>
<head>
    <title>History Lateralizado</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logs_table.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/tabulator.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/js/tabulator.min.js"></script>
</head>
<body>
    <!-- Column Freeze Options -->
    <div id="freezeColumnOptions" style="margin: 10px;">
        <label><input type="checkbox" value="SIILA3_ID"> SIILA3 ID</label>
        <label><input type="checkbox" value="SIILA1_ID"> SIILA1 ID</label>
        <label><input type="checkbox" value="SIILA1_NAME"> SIILA1 NAME</label>
        <label><input type="checkbox" value="MARKET_NAME"> Market</label>
        <label><input type="checkbox" value="REGION_NAME"> Region</label>
        <label><input type="checkbox" value="SIILA2_NAME"> SIILA2 NAME</label>
        <label><input type="checkbox" value="SIILA3_NAME"> SIILA3 NAME</label>
        <label><input type="checkbox" value="DELIVERY_DATE"> Delivery Date</label>
        <label><input type="checkbox" value="AREA"> Area</label>
        <label><input type="checkbox" value="PROPERTY_TYPE"> Property Type</label>
        <button id="updateFrozenColumns" style="margin-left: 10px;">Update Frozen Columns</button>
    </div>

    <!-- Data Modal -->
    <div id="dataModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" id="tableSearch" placeholder="Search..." onkeyup="filterTable()">
                <button class="modal-button close" onclick="closeDataModal()">Cancel</button>
                <h2>Select Data</h2>
            </div>
            <div class="modal-body">
                <!-- Table will be populated here -->
            </div>
            <div class="modal-footer">
                <button class="modal-button" onclick="handleModalSelection()">OK</button>
            </div>
        </div>
    </div>

    <div id="menu-toggle" onclick="toggleMenu()">&#8594;</div>
    <div class="menu-bar" id="menu-bar">
        <h1>History Lateralizado</h1>
        {% for table in tables %}
            {% if table == 'History Lateralizado' %}
                <a href="{{ url_for('history_lateralizado.history_lateralizado') }}">{{ table }}</a>
            {% else %}
                <a href="{{ url_for('under_development') }}">{{ table }}</a>
            {% endif %}
        {% endfor %}
        <img src="{{ url_for('static', filename='mainlogo.png') }}" style="position: absolute; bottom: 0; width: 100%;">
    </div>
    <div class="content">
        <div style="display: flex; justify-content: space-between; margin-bottom: 15px;">
            <button class="refresh-button" onclick="refreshTableData()" style="background-color: #D3961C; color: white; border: none; padding: 5px 10px;">Refresh</button>
            <input id="search" placeholder="Search..." onkeyup="searchTable(this.value)" style="margin-left: auto;">
        </div>
        <div id="history-lateralizado-table"></div>
    </div>

        <script src="{{ url_for('static', filename='js/history_lateralizado.js') }}"></script>

</body>
</html>


